*
{
  margin: 0px;
  padding: 0px;

}




#main
{

  min-height: 700px;
  
  background-image: url("images/airplane_clouds.jpg")

}

 #leftcolumn
{
  width: 50%;
  height: 200px;
  float: left;
  background-color: rgba(0,0,0,0.6);
}

 #rightcolumn
{
  width: 50%;
  height: 200px;
  float: right;
  background-color: rgba(0,0,0,0.6);

}
