.jumbotron{
  background-image: url("../images/mountains1.jpeg");
  background-color: #17234E;
  margin-bottom: 0;`enter code here`
  min-height: 50%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}

.container{
  color: rgb(240, 228, 229);
}
